<!DOCTYPE>
<css>
* {
  padding: 0px;
  margin: 0px;
}

/*ALL*/
*.top-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #5F8689;
  overflow: hidden;
}

*.menu-item a {
    display: flex;
    color: white;
    justify-content: space-around;
    text-decoration: none;
}

/*HOMEPAGE*/
.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #BFAC9B;
  padding: 30px;
  justify-content: space-around;
}
.home-text {
  flex: 1;
  border: 2px #5F8689;
}
.home-image {
  flex: 1;
  border:#5F8689;
  height: auto;
}
@media screen and (max-width: 767px) {
  .flex-container {
    flex-direction: column; 
  }
}

/*GALLERY*/
div.gallery {
  display: flex;
  border: 5px solid #BFAC9B;
  float: left;
  justify-content: space-around;
  margin: 30px;
}

div.gallery img {
  width: 354.17px;
  height: auto;
}

div.desc {
  padding: 15px;
}
 @media screen and (max-width: 767px) {
  .galler-images {
    display: flex;
    flex-direction: column;
  }
 }

 /*BLOG*/
 .post {
  background-color: #BBB8B1;
  margin-top: 25px;
  text-align: center;
  padding: 100px;
 }
 @media screen and (max-width: 767px) {
    .post {
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 10px;
    }
 }
 @media screen and (max-width: 360px) {
    .post {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
    }
 }
